/* general */
html {
    scroll-padding-top: 110px;
}

h1 {
    text-transform: uppercase;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* very light black */
    background-color: rgba(0, 0, 0, 0.997);
    /* very light grey */
    color: rgba(255, 255, 255, 0.997);
    overflow-x: hidden;
}

body p {
    line-height: 1.15;
}

a {
    /* very light grey */
    color: rgba(255, 255, 255, 0.997);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #43DD52;
}

::selection {
    background: #43DD52;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}