/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 82px;
    width: 100%;
}

.mainBackground {
    position: relative;
    width: 100%;
    height: auto;
}

.mainBackground img {
    width: 100%;
    height: auto;
}

.motto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 23%;
    transform: translate(-50%, -23%);
    z-index: 10;
    color: rgba(255, 255, 255, 0.997);
    font-size: 50px;
    font-weight: bold;
}

#expensiveStrikeOut {
    text-decoration: line-through;
}

/* welcomeMsg */
.whoWeAre {
    padding-bottom: 2rem;
    border-bottom: 1px solid #43DD52;
    /* min-width: 100vh; */
}

.whoWeAreHeading {
    font-size: 50px;
    margin-bottom: 0.5rem;
}

.whoWeAreBody{
    display: flex;
    margin: 0 6rem;
    opacity: 0;
    transition: opacity 3s ease-out;
    will-change: opacity;
}

.whoWeAreTxt {
    flex: 1;
    max-width: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-150%);
    transition: transform 1s ease-out; /* Only keep the transform transition */
    /* opacity: 0; */ /* Temporarily removed for testing */
}

.whoWeAreTxt.slideIn {
    transform: translateX(0);
    /* opacity: 1; */ /* Temporarily removed for testing */
}

.whoWeArePhoto {
    display: flex;
    width: 100%;
    height: auto;
    flex: 1;
}

.photoOfUserInterface {
    padding: 0;
}

.whoWeArePhoto img {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.whoWeArePhoto img.fadeIn {
    opacity: 1;
}

.whoWeAreHeadingAndP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whoWeAreHeadingAndP p {
    font-size: 20px;
}


@media (max-width: 790px) {
    .motto {
        font-size: 45px;
    }
    .whoWeAreHeading {
        font-size: 45px;
    }
}

@media (max-width: 690px) {
    .motto {
        font-size: 40px;
    }
    .whoWeAreHeading {
        font-size: 40px;
    }
    .whoWeAreBody{
        margin: 0 4rem;
    }
}

@media (max-width: 590px) {
    .motto {
        font-size: 35px;
    }
    .whoWeAreHeading {
        font-size: 35px;
    }
    .whoWeAreBody{
        margin: 0 2rem;
    }
    .whoWeAreHeadingAndP p {
        font-size: 15px;
    }
}

@media (max-width: 490px) {
    .motto {
        font-size: 30px;
    }
    .whoWeAreHeading {
        font-size: 30px;
    }
    .whoWeAreBody{
        margin: 0 1rem;
    }
}

@media (max-width: 390px) {
    .motto {
        font-size: 25px;
    }
    .whoWeAreHeading {
        font-size: 25px;
    }
    .whoWeAreHeadingAndP p {
        font-size: 10px;
    }
}